<div class="row">
  <div class="col s6">
    <div class="row">
      <div class="input-field col s12">
        <input vs-google-autocomplete="{ types:['(cities)'] }"
               ng-model="city"
               type="text"
               name="city"
               id="city"
               class="form-control"
               placeholder="Enter city name" ng-change="change()">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s8">
    <h4>{{city}}</h4>
  </div>
  <div class="col s4">
    <span class="red-text text-darken-4 degree-celsius">{{weatherTemp}}
    </span>
    <img ng-if="city" src="assets/images/material-weather-icons/64/40.png" alt="img">
  </div>
</div>
