<h3>Our weather app</h3>
<input type="text" name="city" placeholder="Select city" class="get-city">
<button type="button" name="button" class="get-weather-button btn">get weather</button>
<p class="error-message"></p>

<div class="weather-item">
    <h3 class="city-name">City name: <b></b></h3>
    <h5 class="max-temp">Max temp: <b></b></h5>
    <h5 class="min-temp">Min temp: <b></b></h5>
    <img class="weather-image-first" src="">
    <div class="row extended-weather">
        <!-- <div class="col-sm-2 second-day">
            <p class="extended-max">Max temp: <span></span></p>
            <p class="extended-min">Min temp: <span></span></p>
            <img class="weather-image" src="">

        </div>
        <div class="col-sm-2 third-day">
            <p class="extended-max">Max temp: <span></span></p>
            <p class="extended-min">Min temp: <span></span></p>
            <img class="weather-image" src="">
        </div>
        <div class="col-sm-2 fourth-day">
            <p class="extended-max">Max temp: <span></span></p>
            <p class="extended-min">Min temp: <span></span></p>
            <img class="weather-image" src="">
        </div>
        <div class="col-sm-2 five-day">
            <p class="extended-max">Max temp: <span></span></p>
            <p class="extended-min">Min temp: <span></span></p>
            <img class="weather-image" src="">
        </div>
        <div class="col-sm-2 six-day">
            <p class="extended-max">Max temp: <span></span></p>
            <p class="extended-min">Min temp: <span></span></p>
            <img class="weather-image" src="">
        </div> -->
    </div>
</div>
