<h3>Our weather app</h3>
<input type="text" name="city" placeholder="Select city" class="get-city">
<button type="button" name="button" class="get-weather-button btn">get weather</button>
<p class="error-message"></p>

<div class="weather-item container">
    <div class="row">
        <div class="col-sm-6">
            <h3 class="city-name">
                <b></b>
                <span class="country-code"></span>
                <img class="weather-image-first" src="">
            </h3>
            <span class="main-weather"></span>
        </div>
        <div class="col-sm-6 right-main-weather">
            <span class="weekday"><b></b></span>
            <h5 class="max-temp">Max temp: <b></b></h5>
            <h5 class="min-temp">Min temp: <b></b></h5>
            <h5 class="current-temp">Current-temp: <b></b></h5>
            <h5 class="humidity">Humidity: <b></b></h5>
            <h5 class="pressure">Pressure: <b></b></h5>
            <h5 class="wind">Wind: <b></b></h5>
        </div>

    </div>


    <div class="seven-days">
        <h2>Extended weather for the next 6 days</h2>
    </div>


    <div class="row extended-weather">

    </div>

</div>
<button type="button" name="button" class="reset">RESET</button>
