html {
  font-weight: 600;
}

.degree-celsius {
  font-size: 40px;
  float: left;
  margin-right: 18px;
}

.user {
    display: none;
}

.weather-image {
    width: 100px;
    height: 100px;
}

.weather-item {
    display: none;
}
