
.degree-celsius {
  font-size: 40px;
  float: left;
  margin-right: 18px;
}

.user {
    display: none;
}

.weather-image {
    width: 100px;
    height: 100px;
}

.weather-item {
    display: none;
    border-radius: 4px;
    background-color: lightblue;
    padding-left: 10px;
    margin-top: 20px;
    position: relative;
}

.get-weather-button {
    background-color: lightblue;
}

.extended-weather {
    margin-top: 40px;
    padding-top: 40px;
    border: 1px dotted white;
}

.seven-days h2{
    text-align: center;
}

.error-message{
    display: none;
}

.reset {
    display: none;
    margin-top: 10px;
    background-color: #ADD8E6;
    padding: 10px;
    width: 100px;
    text-transform: lowercase;
    border-radius: 4px;
    border: 1px solid lightblue;
}

.reset:focus{
    outline: none;
}

.main-weather {
    font-size: 40px;
    font-weight: italic;
    font-family: monospace;
    color: white;
    width: 155px;
    margin:0 auto;
    display: inherit;
}

.get-city {
    height: 34px;
    border-radius: 4px;
    border: 1px solid lightblue;
    padding-left: 20px;
    background-color: black;
    color: #fff;
}

.get-city:focus {
    outline: none;
}

.right-main-weather {
    padding-top: 30px;
}

h3.city-name {
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
}

.country-code {
    font-size: 15px;
    padding: 3px;
    border-radius: 4px;
    background-color: black;
    color: #fff;
}

.right-main-weather {
    display: none;
}

.right-main-weather h5{
    width: 153px;
    margin: 11px auto;
    border-bottom: 1px solid #fff;
    padding-bottom: 7px;
}

.right-main-weather h5 b{
    float: right;
}

.weekday {
    width: 208px;
    margin: 0 auto;
    display: inherit;
    text-align: center;
}
